<div class="content-cards">
    <div class="content-alphabet">
        <ng-multiselect-dropdown [placeholder]="'Select characters group'" [settings]="dropdownSettings"
            [data]="characters" [(ngModel)]="selectedCharacters" (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>

        <input class="input" type="text" placeholder="Search By Title" #searchCharacter
            (keyup)="filterCharacters(searchCharacter.value)">


        <span class="byPrice">
            <img (click)="onChangeOrderByPrice()"
                src="{{!orderByPrice ? '../../assets/up-number.svg' : '../../assets/down-number.svg'}}"
                alt="Order By Price">
            Order By Price
        </span>

        <span class="byPrice">
            <img (click)="onChangeOrderByTitle()"
                src="{{!orderByTitle ? '../../assets/up-title.svg' : '../../assets/down-title.svg'}}"
                alt="Order By Letter">
            Order By Price
        </span>
    </div>
    <div class="content-alphabet pagination">
        <pagination-controls (pageChange)="pages = $event"></pagination-controls>
    </div>
    <div class="card" *ngFor="let item of results | paginate: { itemsPerPage: 9, currentPage: pages }"
        title="See details" [routerLink]="['/comic', item.id]">
        <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" alt="">
        <div class="info-comic">
            <p class="name">{{ item.title }}</p>
            <p *ngIf="writer">Writer: {{ writer.name }}</p>
            <p>{{item.price.type}}: $ {{item.price.price}}</p>
            <p>{{item.description === '' || !item.description ? 'This comic has no description!' : item.description}}</p>
        </div>

    </div>
</div>