<div class="container-detail">
    <div class="view-detail">
        <div class="info">
            <h1>{{creator.firstName}} {{creator.lastName}}</h1>
            <h1>{{creator.middleName}}</h1>
            <h1>{{creator.fullName}}</h1>

            <h2>Comics</h2>
            <p *ngIf="creator.comics.items.length === 0">This creator does not have comics</p>
            <li class="info-list" *ngFor="let item of creator.comics.items">{{item.name}}</li>

            <h2>Series</h2>
            <p *ngIf="creator.series.items.length === 0">This creator does not have series</p>
            <li class="info-list" *ngFor="let item of creator.series.items">{{item.name}}</li>
        </div>
        <div class="image">
            <img src="{{creator.thumbnail.path}}.{{creator.thumbnail.extension}}" alt="">
        </div>
    </div>

    <div class="more-info">
        <h1>Comics Collection</h1>
        <p *ngIf="comics.length === 0">This character does not have comics</p>
        <div class="content-comics">
            <div class="card" *ngFor="let item of comics"
                style="background-image: url({{item.thumbnail.path}}.{{item.thumbnail.extension}});" title="See details"
                [routerLink]="['/comic', item.id]">
                <p>Title: {{item.title}}</p>
                <div class="content-role-name">
                    <p *ngIf="item.creator.role">{{item.creator.role}}: </p>
                    <p>{{item.creator.name}}</p>
                </div>
                <p>{{item.price.type}}: $ {{item.price.price}}</p>
            </div>
        </div>
    </div>

    <div class="more-info">
        <h1>Series Collection</h1>
        <p *ngIf="series.length === 0">This character does not have series</p>
        <div class="content-comics">
            <div class="card" *ngFor="let item of series"
                style="background-image: url({{item.thumbnail.path}}.{{item.thumbnail.extension}});" title="See details"
                [routerLink]="['/serie', item.id]">
                <p>Title: {{item.title}}</p>
                <p>Rating Type: {{item.rating === '' ? 'does not exist' : item.rating}}</p>
                <p>Start Year: {{item.startYear}}</p>
                <p>End Year: {{item.endYear}}</p>
            </div>
        </div>
    </div>
</div>