<div>
    <div class="content-nav">
        <nav>
            <img routerLink="/" src="../assets/logo.png" alt="Marvel">
            <li class="{{pathname === '/series' ? 'page-selected' : ''}}" routerLink="/series">SERIES</li>
            <li class="{{pathname === '/comics' ? 'page-selected' : ''}}" routerLink="/comics">COMICS</li>
            <li class="{{pathname === '/creators' ? 'page-selected' : ''}}" routerLink="/creators">CREATORS</li>
            <li class="{{pathname === '/characters' ? 'page-selected' : pathname === '/' ? 'page-selected' : ''}}" routerLink="/">CHARACTERS</li>
        </nav>
    </div>
    <div class="content-page">
        <router-outlet></router-outlet>
    </div>
</div>